.row-nrh {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.h-nrh {
    height: 0px !important;
}

.btn-pero {
    padding: 10px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}